/*Barra de navegacion*/

.navbar{
  padding: 2rem;
  background-color: #f5f6f7;
  
}

.navbar-collapse{
  align-items:center;
  justify-content: space-between;
}
/*Estilos Generales*/
.fotoYo{
  width: 200px;
  height: 230px;
  background-size: cover;
  border-radius: 50%;
  margin: 20px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 2.5rem;
  font-family: "Rubik Dirt", system-ui;
}
.subTitle{
  font-size: 1.5rem;
  color: #615151;
}
/*Seccion Hero*/

.hero{
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;

}

.hero-principal{
  padding: 3rem;
}
.react, .github{
  width: 180px;
  height: 180px;
  background-size: cover;
  margin: 20px;
}

.boots, .html{
  width: 180px;
  height: 140px;
  background-size: cover;
  margin: 20px;
}

/*Adaptable (Responsivo)*/

@media screen and (max-width: 767px) {
  .navbar-brand{
    display: none;
  }
}